$font-stack: Helvetica, sans-serif

// coolors
$umber: #5b4b49ff
$charm-pink: #db93b0ff
$melon: #f7bfb4ff
$green-sheen: #7daf9cff
$paolo-veronese-green: #23967fff

header 
  color: $umber
  font: $font-stack


body
  font: 100% $font-stack
  background-color: $melon
  color: $umber

h1
  marginTop: 0,
  marginBottom: 64,
  maxWidth: 320,
  
p
  marginBottom: 48,

ul
  margin: 100px,
  list-style: none,
  display: flex,
  flex-direction: row,
  align-items: center,
  max-width: 300px,
  max-height: 300px

img
  max-width: 300px,
  max-height: 300px

li
  border: 1px black solid,
  border-radius: 20px,
  margin: 10px,
  padding: 10px 30px,

span
  text-decoration: underline,
